body{
  background-color: black;
  color:white;
}



.boton{
  
  color:red;
}
.box{
  border-radius: 5px;
  color:black;
  margin: auto;
  width: 50%;
  top:50%;
  background-color: white;
  padding: 10px;
}